{% extends "base.html" %}

{% block content %}
<nav><a href="/catalog" class="btn btn-secondary">Каталог</a> |
        <a href="/cart" class="btn btn-secondary">Моя корзина</a></nav>
<p>Приветствуем Вас в нашем магазине! У нас Вы можете приобрести самые лучшие электрогитары от известных по всему миру брендов, таких как Gibson, Fender, Yamaha и многие другие!</p>
<p style="color:#ff0000">Внимание! В связи с пандемией наши магазины закрыты! Делайте онлайн заказы! Доставим до двери!</p>
{% endblock %}